.hero {
    display: grid;
    height: 100%;
    grid-template-areas:
    "heroLeft heroRight";
}
.heroLeft {
    grid-area: heroLeft;
    background-image: url("../images/margie.JPG");
}
.heroRight {
    grid-area: heroRight;
}