.hero {
    display: grid;
    grid-template-areas:
        "heroLeft heroRight";
    height: 100%;
}
.heroLeft {
    grid-area: heroLeft;
    max-width: 400px;
    background-image: url("../images/margie.JPG");
}
.heroRight {
    grid-area: heroRight;
}